<%= form_with(model: warrior, local: true) do |form| %>
  <% if warrior.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(warrior.errors.count, "error") %> prohibited this warrior from being saved:</h2>

      <ul>
      <% warrior.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Weapon:
    <%= form.select(:weapon_of_choice) do %>
      <%= options_for_select(Warrior.weapon_of_choices.values, Warrior.weapon_of_choices.fetch(:axe)) %>
    <% end %>
  </div>
  <div>
    Role:
    <%= form.select(:role) do %>
      <%= options_for_select(Warrior.roles.values, Warrior.roles.fetch(:shieldman)) %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
