<p id="notice"><%= notice %></p>

<h1>Warriors</h1>

<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Class</th>
      <th>Weapon</th>
      <th>Raids</th>
    </tr>
  </thead>

  <tbody>
    <% warriors.each do |warrior| %>
      <tr>
        <td><%= warrior.villager.email %></td>
        <td><%= warrior.role %></td>
        <td><%= warrior.weapon_of_choice %></td>
        <td><%= warrior.raids %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'Become a warrior!', new_warrior_path, method: :get %>
