<%= form_with(model: farmer, local: true) do |form| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmer.errors.count, "error") %> prohibited this farmer registration from being saved:</h2>

      <ul>
      <% farmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Crop:
    <%= form.select(:crop) do %>
      <%= options_for_select(Farmer.crops.values, Farmer.crops.values.first) %>
    <% end %>
  </div>
  <div>
    Harvest time:
    <%= form.select(:harvest_time) do %>
      <%= options_for_select(Farmer.harvest_times.values, Farmer.harvest_times.values.first) %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
