<p id="notice"><%= notice %></p>

<h1>Farmers</h1>

<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Crop</th>
      <th>Month of Harvest</th>
    </tr>
  </thead>

  <tbody>
    <% farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.villager.email %></td>
        <td><%= farmer.crop %></td>
        <td><%= farmer.harvest_time.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Become a farmer!', new_farmer_path, method: :get %>