<!DOCTYPE html>
<html>
  <head>
    <title>Valhalla</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Warriors', warriors_path %></li>
        <li><%= link_to 'Farmers', farmers_path %></li>
      </ul>
    </nav>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
